@media screen and (min-width: 428px) {
    .modal {
        min-width: 392px;
    }
}

@media screen and (min-width: 768px) {
    .main-hero {
        max-width: 768px;
        height: 436px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tab.jpg);
    }

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .main-hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tab-2x.jpg);
        }
    }

    .main-hero-title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
    }

    .main-hero-btn {
        margin-top: 36px;
    }
    
    .modal {
        min-width: 408px;
    }
}

@media screen and (min-width: 1158px) {
    .main-hero {
        max-width: 1440px;
        height: 600px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
        padding: 188px 0;
    }

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .main-hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-2x.jpg);
        }
    }

    .main-hero-btn {
        margin-top: 48px;
    }
}