@media screen and (min-width: 428px) {
    .container {
        width: 428px;
    }

    .address-menu-tel {
        font-size: 36px;
        letter-spacing: 0.02em;
    }

    .menu-list-icon{
        gap: 56px;
    }

    .modal {
        min-width: 392px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

    .header-logo {
        margin-right: 120px;
    }

    .header-navigation .header-list {
        margin: 0;
        padding: 0;
        display: flex;
        gap: 40px;
    }

    .header-address {
        display: flex;
    }

    .header-address-list {
        flex-direction: column;
        gap: 12px;
    }

    .emphasis {
        color: var(--ocean, #404BBF);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .emphasis::after {
        position: absolute;
        top: 67px;
        display: block;
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: var(--ocean, #404BBF);
        bottom: -1px;
    }

    .menu-btn-open {
        display: none;
    }

    .main-hero {
        max-width: 768px;
        height: 436px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tab.jpg);
    }

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .main-hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tab-2x.jpg);
        }
    }

    .main-hero-title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
    }

    .main-hero-btn {
        margin-top: 36px;
    }

    .main-advantages-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
    }

    .main-advantages-title {
        text-align: start;
    }

    .main-advantages-item {
        width: calc((100% - 24px) / 2 );
    }

    .mains-advantages-text br {
        display: block;
    }

    .special-container {
        width: 582px;
    }
    
    .main-team-list {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap: 24px;
        row-gap: 64px;
    }

    .main-team-item {
        width: calc((100% - 24px) / 2);
    }

    .main-customers-list {
        gap: 24px;
    }

    .main-customers-item {
        width: calc((100% - 48px) / 3);
    }

    .container-footer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        column-gap: 24px;
    }

    .footer-link {
        margin: 0 0 18px;
    }

    .footer-title {
        text-align: start;
    }

    .footer-form {
        flex-direction: row;
    }
    
    .modal {
        min-width: 408px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
    }

    .header-logo {
        margin-right: 76px;
    }

    .header-address-list {
        flex-direction: row;
        gap: 40px;
    }

    .main-hero {
        max-width: 1440px;
        height: 600px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
        padding: 188px 0;
    }

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .main-hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-2x.jpg);
        }
    }

    .main-hero-btn {
        margin-top: 48px;
    }

    .main-advantages-item{
        width: calc((100% - 72px) / 4);
    }

    .main-advantages-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background: var(--cloud, #F4F4FD);
        margin-bottom: 8px;
        width: 100%;
        height: 112px;
        max-width: 264px;
        max-height: 112px;
    }

    .main-advantages-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }

    .mains-advantages-text {
    font-weight: 400;
    }

    .appears-section {
        display: block;
    }

    .main-third-section{
        padding-bottom: 120px;
    }
    
    .main-t-s-title{
        color: var(--navyblue, #2E2F42);
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
    }
    
    .main-t-s-list{
        display: flex;
        gap: 24px;
    }
    
    .main-t-s-item{
        list-style-type: none;
        width: calc((100% - 48px) / 3);
    }

    .main-team-item {
        width: calc((100% - 72px) / 4);
    }

    .main-customers-item {
        width: calc((100% - 120px) / 6);
    }

    .container-footer {
        gap: 80px;
    }

    .footer-first-block {
        margin-right: 40px;
    }
}